node_modules
dist
.build
.next
*.log
.env
apps/**/.env
.prisma
.turbo

# .agent
# .shared

# IDE - IntelliJ / WebStorm
.idea

# IDE - VSCode
.vscode

queries

docs/*
# plans/*
assets/*
dist/*
coverage/*
build/*
ios/*
android/*
tests/*
__tests__/*
__pycache__/*
node_modules/*

.opencode/*
.claude/*
.serena/*
.pnpm-store/*
.github/*
.dart_tool/*
.idea/*
.husky/*
.venv/*